@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --font-family: 'Outfit', sans-serif;

    --White: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--light-gray);
    font-family: var(--font-family);
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.container {
    width: 320px;
    height: 500px;
    background: var(--White);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.qr-code-image {
    margin: 1em;
    width: 280px;
    border-radius: 1em;
}
.text {
    padding: 1em;
}
h1 {
     font-size: 1.4em;
     font-weight: 700;
     text-align: center;
     color: var(--Dark-blue);
     padding-bottom: 1em;
}
p {
    font-size: 1em;
    text-align: center;
    color: var(--Grayish-blue);
}
